@media (max-width: 568px) {
    * {
        line-height: 2;
    }
    body {
        overflow-x: hidden;
    }
    .hero-section {
        height: fit-content;
    }
    .hero-section > .nav-overlay {
        padding: 2rem;
        margin-top: 0;
        gap: 1rem;
        background: linear-gradient(to bottom right, transparent 20%, #111111ec 45%,black 60%);
    }
    .container {
        width: 90%;
    }
    .header {
        grid-template-columns: repeat(2, 1fr);
    }
    #sideNav {
        position: absolute;
        height: 100vh;
        min-height: 100%;
        top: 0;
        left: -20px;
        width: 0%;
        z-index: -99;
        display: flex;
        visibility: hidden;
        align-items: center;
        justify-content: center;
        background: white;
        flex-direction: column;
        z-index: 99;
    }
    .header > .openNav {
        display: block;
    }
    #sideNav > .navClose {
        display: block;
    }
    .nav-links > a {
        color: black;
        font-size: 1em;
    }
    .logo > h2 {
        font-size: 20px;
    }
    .navbar {
        display: none;
        visibility: hidden;
    }
    .primary-nav {
        display: none;
        visibility: hidden;
    }
    .secondary-nav {
        display: none;
        visibility: hidden;
    }
    .slider {
        width: 100%;
        margin-top: 0;
        padding: 0%;
    }

    .slider > h2 {
        font-size: 2.5em;
        font-weight: 600;
        width: 100%;
    }
    .slider > p {
        width: 100%;
    }
    
    /* about us section */
    .about-section {
        grid-template-columns: 1fr;
        padding: 2rem 0;
        gap: 3rem;
        overflow: hidden;
    }
    .about-image {
        overflow: hidden;
        /* transform: rotate(-40deg); */
    }

    .about-image > img,
    .ab-image-row > img {
        width: 100px;
        height: 20vh;
    }
    .about-body {
        padding: 0% 2rem;
    }
    
    .about-body > h2 {
        width: 100%;
        font-size: 1.4em;
    } 
    .about-body > p {
        width: 100%;
        font-size: 16px;
        margin-top: 1rem;
    }

    /* tabs row */
    .tabs-row {
        /* grid-template-columns: 1fr; */
    }
    .tab > p {
        font-size: 10px;
    }

    .add-container {
        grid-template-columns: 1fr;
    }
    .add-col p {
        width: 80%;
    }

    /* .impact stats */
    .impact-stats {
        padding: 2rem;
        gap: 2rem;
        grid-template-columns: 1fr;
    }
    .stat {
        flex-direction: column;
    }
    .stat > h2 {
        font-size: 1.4em;
    }

    /* part sect */
    .part-sect {}
    .part-sec-col {
        grid-template-columns: 1fr;
    }
    .part-sec-col:nth-child(2) {
        display: flex;
        flex-direction: column-reverse;
    }
    .part-sec-col > img {
        height: 50vh;
    }
    .part-col-row {
        padding: 2rem;
    }
    .part-col-row > h2 {
        font-size: 1.4em;
    }

    /* gallery */
    .gallery {
        padding: 0;
        overflow-y: scroll;
        scrollbar-width: thin;
        display: none;
    }
    .gallery-container {
        padding: 0 1rem;
    }

    /* our-help */
    .our-help-container {
        padding: 0 2rem;
    }
    .our-help-header {
        display: grid;
        gap: 1rem;
    }
    .our-help-header > h2 {
        font-size: 1.4em;
    }
    .our-help-header > p {
        width: 100%;
    }
    .our-container {
        display: grid;
        grid-template-columns: 1fr;
    }
    .our-card {
        width: 100%;
    }

    /* break-sect */
    .break-sect {}
    .break-sec-container {
        grid-template-columns: 1fr;
        height: fit-content;
    }
    .break-sec-row {
        padding: 2rem;
    }
    .break-sec-row > h2 {
        width: 60%;
        font-size: 1.4em;
    }

    /* services sect */
    .services-section {}

    .service-container {
        grid-template-columns: 1fr;
        gap: 2rem;
        padding: 0% 2rem;
    }
    .service-col > img {
        height: 40vh;
    }
    .service-col > h2,
    .about-section.services > .about-body > h2 {
        font-size: 1.4em;
    }
    .card > h2 {
        font-size: 16px;
    }

    /* testimonials */
    .testimonials {
        padding: 2rem;
    }
    .testimonials-container > h2 {
        font-size: 1.4em;
        width: 80%;
    }
    .testimonials-cont {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        margin-top: 2rem;
    }

    /* breaker sect */
    .breaker-sect {
        padding: 2rem;
    }
    .breaker-sect-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .breaker-sect-container > h2 {
        font-size: 1.4em;
        width: 100%;
    }

    /* news-sect */
    .news-sect {
        padding: 2rem;
    }
    .news-sect > h2 {
        font-size: 1.4em;
        width: 100%;
    }
    .news-sect-container {
        grid-template-columns: 1fr;
        gap: 2rem;
    }
    .news-sec-row:nth-child(1) {
        grid-template-columns: 1fr;
        gap: 2rem;
    }
    .news-box > img {
        height: 20vh;
    }
    .news-box-body > h2 {
        width: 100%;
        font-size: 16px;
    }
    .news-box-body > p {
        width: 100%;
    }
    .news-card > img {
        height: 12vh;
    }


    /* volunteer */
    .volunteer {
        height: 40vh;
        margin-bottom: 2rem;
    }
    .volunteer-cont > h1 {
        font-size: 1.4em;
    }


    .footer-cont {
        width: 90%;
        flex-wrap: wrap;
        gap: var(--gap, 2em);
    }
    .footer-col {
        flex: 43%;
    }

    /* modal section */
    .modal-overlay {
        padding: 0;
        background-color: transparent;
        overflow-y: scroll;
        scrollbar-width: thin;
    }
    .modal-content {
        grid-template-columns: 1fr;
        height: 100vh;
        overflow-y: scroll;
    }
    .modal-row {
        display: block;
    }
    .modal-over {
        padding: 8rem 2rem 2rem 2rem;
    }
    .modal-row:nth-child(2) {
        /* overflow-y: scroll; */
        overflow-y: visible;
        height: fit-content;
    }
    .close-btn {
        background-color: rgba(255, 255, 255, 0.247);
    }
    .modal-row:nth-child(1) h2 {
        font-size: 1.4em;
    }
    .modal-row:nth-child(2) h2 {
        font-size: 1.4em;
    }
    /* modal over */
    .modal-over > img {
        max-height: 30vh;
        object-position: top;
    }
    .heading#modalHead > p {
        font-size: 11px;
    }
    .form_container {
        grid-template-columns: 1fr;
    }
    .form_row#two_col {
        grid-template-columns: 1fr;
    }

}
@media (min-width: 600px) and (max-width: 760px) {}
@media (min-width: 769px) and (max-width: 1024px) {}
@media (max-width: 600px) {
    .hero-section {
        height: fit-content;
        max-height: 100vh;
    }
    .nav-overlay {
        margin-top: 8px;
    }
    .container {
        width: 90%;
    }
    .header {
        grid-template-columns: repeat(2, 1fr);
    }
    .logo > h2 {
        font-size: 17px;
    }
    .navbar {
        display: none;
        visibility: hidden;
    }
    .primary-nav {
        display: none;
        visibility: hidden;
    }
    .secondary-nav {
        display: none;
        visibility: hidden;
    }
    .slider {
        width: 100%;
        margin-top: 2.5em;
    }
    .slider > h2 {
        font-size: 1.6em;
        font-weight: 600;
    }
    .slider > p {
        width: 100%;
    }
    /* about us section */
    .mission-section {
        padding: 2.4em 0;
        margin-bottom: 3em;
    }
    .mission-section > .container {
        grid-template-columns: 1fr;
    }
    .col > h2 {
        font-size: 1.2em;
        font-weight: 600;
    }
    .col > span {
        font-size: 1em;
    }
    .col:nth-child(2) {
        justify-content: center;
    }
    .video-container {
        width: 100%;
    }
    .grid-image {
        width: 100%;
        height: 19vh;
    }
    .grid p {
        font-size: 14px;
    }
    .video-container {
        width: 100%;
        min-height: 5rem;
    }
}